@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination {
  position: absolute;
  transform: translateX(-50%);
  display: flex !important;
  list-style: none;
  padding: 0;
  justify-content: center !important;
  align-items: center !important;
  font-size: larger;
  gap: 10px;
}

.swiper-pagination-bullet {
  width: 10px !important;
  border-radius: 50% !important;
  height: 10px !important;
  
}
.swiper-pagination-bullet:hover {
  background-color: black;
}
.swiper-pagination-bullet-active {
  background: black !important;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 220px;
  align-items: center;
  /* padding-left: 120px; */
  gap: 30px;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev,
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: none;
}

.swiper-button-prev,
.swiper-button-next {
  opacity: 1;
  width: 50px;
  height: 50px;
  color: gray; /* Text color of the navigation buttons */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: darkgray; /* Text color of the navigation buttons on hover */
}
